## Pair Programming Pandas VI

Es el momento de poner en prÃ¡ctica los groupby de pandas. Para esto vamos a trabajar con el csv creado en el ejercicio de pair programming anterior.
El objetivo de este ejercicio es agrupar los datos para contestar las siguientes preguntas:

In [1]:
import pandas as pd
import os

In [25]:
import datetime

In [3]:
df= pd.read_csv("5.pandas_mergeado.csv", index_col=0)
df.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,03-Jun-2018

1. Â¿CuÃ¡ntos ataques hubo por paÃ­s? Devuelve un DataFrame.

ðŸ“Œ NOTA Ordena los resultados de mayor a menor. Esto todavÃ­a no lo hemos visto, pero un DataFrame lo podemos ordenar con .sort_values(). AquÃ­ tenÃ©is una explicaciÃ³n de cÃ³mo hacerlo.

In [5]:
df.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex_', 'age', 'time', 'species_', 'href',
       'fatal_(y/n)', 'injury', 'date'],
      dtype='object')

In [13]:
df.groupby("country")["case_number"].count().sort_values(ascending=False)

country
USA             741
AUSTRALIA       343
SOUTH AFRICA    234
BAHAMAS          29
NEW ZEALAND      21
               ...
PHILIPPINES       1
RED SEA?          1
EL SALVADOR       1
ROATAN            1
LIBYA             1
Name: case_number, Length: 95, dtype: int64

2. Â¿CuÃ¡ntos ataques ha habido por aÃ±o? Devuelve un DataFrame. De nuevo ordena los resultados de mayor a menor.

In [14]:
df2= df.groupby("year")["case_number"].count().sort_values(ascending=False)

In [16]:
type(df2)

pandas.core.series.Series

In [17]:
df2.reset_index()

       year  case_number
0       0.0          125
1    2015.0           68
2    2007.0           57
3    2012.0           54
4    2002.0           53
..      ...          ...
142  1784.0            1
143  1783.0            1
144  1787.0            1
145  1779.0            1
146  1780.0            1

[147 rows x 2 columns]

3. Â¿CuÃ¡ntos ataques hubo por aÃ±o y sexo? Devolved un DataFrame solo del aÃ±o 2000 en adelante.

In [23]:
df3= df[df["year"] > 2000]

In [24]:
df3.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,03-Jun-2018

In [27]:
df3.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex_', 'age', 'time', 'species_', 'href',
       'fatal_(y/n)', 'injury', 'date'],
      dtype='object')

In [33]:
df4= df3.groupby(["sex_","year"])["case_number"].count().sort_values(ascending=False)

In [39]:
df5= df4.reset_index()
df5.head(2)

  sex_    year  case_number
0    M  2015.0           56
1    M  2002.0           47

4. Primero extraed solo las filas que correspondan a USA, AUSTRALIA y SOUTH AFRICA. Â¿CuÃ¡ntos de los ataques fueron letales por sexo? Devuelve un DataFrame.

In [46]:
df_paises = df[(((df['country'] == 'AUSTRALIA') | (df['country'] == 'USA') | (df['country'] == 'SOUTH AFRICA')) & (df['fatal_(y/n)'] == 'Y'))]
df_paises.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date
41,2017.04.17.a,2017.0,Unprovoked,AUSTRALIA,Western Australia,Kelpies near Wylie Bay,Surfing,Laeticia Brouwer,F,17,16h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,17-Apr-2017
68,2016.06.05.a,2016.0,Unprovoked,AUSTRALIA,Western Australia,Mindarie,Diving,Doreen Collyer,F,60,11h30,3+ m shark,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,05-Jun-2016

In [47]:
df_paises['fatal_(y/n)'].value_counts()

Y    192
Name: fatal_(y/n), dtype: int64

In [48]:
df_paises.groupby("sex_")['fatal_(y/n)'].count()

sex_
F     20
M    172
Name: fatal_(y/n), dtype: int64

5. Usando el DataFrame creado en el ejercicio anterior. Â¿En quÃ© paÃ­s hubo mÃ¡s ataques?

In [55]:
df.groupby("country")['case_number'].count().max()

741

In [57]:
df["country"].value_counts() == df.groupby("country")['case_number'].count().max()

USA                    True
AUSTRALIA             False
SOUTH AFRICA          False
BAHAMAS               False
NEW ZEALAND           False
                      ...
GREENLAND             False
ST. MAARTIN           False
UNITED KINGDOM        False
SWEDEN                False
CEYLON (SRI LANKA)    False
Name: country, Length: 95, dtype: bool

Â¿QuÃ© y cuÃ¡ntos tipos de ataques hubo por paÃ­s?