## Pair Programming Panda II - 02/12/2022

Los objetivos de este pair programming:

- Id cargando todos los ficheros en vuestro jupyter.

- Si os da error leer el pickle será por la versión de pandas. Podéis guardar el csv como pickle y cargarlo de ahí.

In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
import os

In [3]:
ubi= os.getcwd()
ubi

'/mnt/d/Ximena/Adalab/Módulo 2/DA-promoc-modulo2-sprint1-Irene-Ximena/Panda'

In [4]:
from locale import getpreferredencoding

In [5]:
getpreferredencoding("Pandas-II/quejas.csv")

'UTF-8'

In [7]:
# uso de on_bad_lines por Error tokenizing data. C error: Expected 2 fields in line 17, saw 3
df_csv = pd.read_csv("Pandas-II/quejas.csv" , sep=";" , on_bad_lines='skip', encoding= 'iso-8859-1')
df_csv.head()

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
0,Queja,Recepcionada por Unidad,INTERNET,2022-01-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
1,Queja,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
2,Queja,Recepcionada por Unidad,INTERNET,2022-03-23 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
3,Queja,Recepcionada por Unidad,INTERNET,2022-01-24 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
4,Queja,Recepcionada por Unidad,INTERNET,2022-03-29 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN

In [9]:
# Lectura archivo excel
df_xlsx = pd.read_excel("Pandas-II/quejas2.xlsx")
df_xlsx.head()

        DESCRIPCION_TEMA                                DESCRIPCION_SUBTEMA
0  ATENCIÓN AL CIUDADANO                         ADMINISTRACIÓN ELECTRÓNICA
1  ATENCIÓN AL CIUDADANO                                    FUNCIÓN PÚBLICA
2  ATENCIÓN AL CIUDADANO  OFICINAS DE ATENCIÓN AL CIUDADANO DE LA COMUNI...
3  ATENCIÓN AL CIUDADANO     OFICINAS DE REGISTRO DE LA COMUNIDAD DE MADRID
4  ATENCIÓN AL CIUDADANO                                              OTROS

In [10]:
# Lectura archivo json
df_json = pd.read_json("Pandas-II/quejas.json")
df_json.head()

                                                data
0  {'unidad_descripcion': 'D.G. de Descarbonizaci...
1  {'unidad_descripcion': 'D.G. de Descarbonizaci...
2  {'unidad_descripcion': 'D.G. de Descarbonizaci...
3  {'unidad_descripcion': 'D.G. de Descarbonizaci...
4  {'unidad_descripcion': 'D.G. de Descarbonizaci...

In [11]:
# este código no es necesario que lo entendamos ahora, más adelante según avancen las lecciones lo iremos entendiendo mejor!
df_json2 = df_json["data"].apply(pd.Series)
df_json2.head()

,unidad_descripcion,tipo,estado,tema,consejeria,fecha_contestacion,canal_entrada,fecha_entrada,subtema
0,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-01-28 00:00:00,N/A
1,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-03-28 00:00:00,N/A
2,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-03-23 00:00:00,N/A
3,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-01-24 00:00:00,N/A
4,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-03-29 00:00:00,N/A

In [13]:
# lectura pickle

%time
pd.read_pickle("Pandas-II/algas.pickle").head(2)

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 7.63 µs

,Unnamed: 0,lon,lat,locality,year,month,kingdom,class,family,genus,species,new,state,country,fecha,day,number_ind
0,22,-70.7167,43.075,New Castle,1900,5.0,Chromista,Phaeophyceae,Fucaceae,Fucus,Fucus vesiculosus,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,4
1,23,-70.7167,43.075,New Castle,1900,5.0,Chromista,Phaeophyceae,Fucaceae,Fucus,Fucus vesiculosus,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,3

Para poner el práctica el read_clipboard elegir alguna tabla que os podaís encontrar en google y usad dicho método para traer los datos al jupyter notebook. Una vez que los hayáis cargado, guardad esos datos en los siguientes formatos:

- csv
- excel
- json
- pickle

In [15]:
df_clipboard = pd.read_clipboard(sep=",")
df_clipboard.head()

Empty DataFrame
Columns: [Pandas-II/]
Index: []

In [20]:
# guardar csv
df_clipboard.to_csv("Pandas-II/ocupación_2.csv")

In [21]:
# guardar en excel
df_clipboard.to_excel("Pandas-II/ocupación_2.xlsx")

In [22]:
# guardar en formato json

df_clipboard.to_json("Pandas-II/ocupación_2.json")

In [23]:
# guardar en formato pickle

df_clipboard.to_pickle("Pandas-II/ocupación_2.pickle")