# Pair Programming Pandas V

En este ejercicio pondremos en práctica los conceptos básicos para juntar varios csv que compartan información.
Trabajaremos con tres ficheros diferentes:

El csv que creamos en el ejercicio de pair programming Pandas IV, dónde recordamos eliminamos ciertas columnas que no eran necesarias, y habíamos creado nuevas.

El csv llamado attacks_historico donde tenemos información sobre los ataques de tiburón previos al año 1800, este fichero lo tenéis un poco mas abajo para descargar.

El csv llamado attacks_adicional donde tenemos información sobre los ataques de tiburón. de nuevo, este fichero lo tenéis abajo para descargar.

In [155]:
import pandas as pd
import os

In [156]:
import datetime

1. Cargad los tres ficheros nombrados anteriormente y los exploramos para familizarizarnos con ellos y saber que información tienen en común y debatir con tu compañera como podríamos juntar toda la información.

In [157]:
df_4= pd.read_csv("4. pandasIV.csv", index_col=0)
df_4.head(2)

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,sigloXXI
6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,sigloXXI

In [158]:
df_his= pd.read_csv("Pandas-V/attacks_historico.csv", index_col=0)
df_his.head(2)

,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,...,NaN,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0,NaN,NaN
6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,...,NaN,The Observer 5/28/1797,1797.05.28.R-Cloverdale.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1797.05.28.R,1797.05.28.R,170.0,NaN,NaN

In [159]:
df_ad= pd.read_csv("Pandas-V/attacks_adicional.csv", index_col=0)
df_ad.head(2)

,Case Number,Fatal (Y/N),Injury,Date
0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.18,N,Minor injury to left thigh,18-Jun-2018

 Se analiza las columnas que comparten y su forma

In [160]:
df_4.shape

(1502, 15)

In [161]:
df_his.shape

(170, 21)

In [162]:
df_ad.shape

(6288, 4)

In [163]:
df_4.columns

Index(['case_number', 'unnamed:_0', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href', 'siglo'],
      dtype='object')

In [164]:
df_his.columns

Index(['Case Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [165]:
df_ad.columns

Index(['Case Number', 'Fatal (Y/N)', 'Injury', 'Date'], dtype='object')

2. Chequead que los nombres de las columnas ver si se llaman iguales entre dataframes . ¿Están todas en minúsculas? ¿Tienen espacios? En caso de que no sean todas iguales unificad el nombre de las columnas.

- Se homogeniza el nombre de las columnas.

In [166]:
columnas_4 = {col:col.lower().replace(" ","_") for col in df_4.columns}
df_4.rename(columns = columnas_4, inplace=True)
df_4.head(2)

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,sigloXXI
6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,sigloXXI

In [167]:
columnas_his = {col:col.lower().replace(" ","_") for col in df_his.columns}
df_his.rename(columns = columnas_his, inplace=True)
df_his.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170 entries, 6132 to 6301
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             170 non-null    object
 1   year                    170 non-null    float64
 2   type                    170 non-null    object
 3   country                 160 non-null    object
 4   area                    124 non-null    object
 5   location                119 non-null    object
 6   activity                139 non-null    object
 7   name                    161 non-null    object
 8   sex_                    156 non-null    object
 9   age                     16 non-null     object
 10  time                    10 non-null     object
 11  species_                44 non-null     object
 12  investigator_or_source  169 non-null    object
 13  pdf                     170 non-null    object
 14  href_formula            170 non-null    object
 15  href                    170 non-null    object
 16  case_number.1           170 non-null    object
 17  case_number.2           170 non-null    object
 18  original_order          170 non-null    float64
 19  unnamed:_22             0 non-null      float64
 20  unnamed:_23             0 non-null      float64
dtypes: float64(4), object(17)
memory usage: 29.2+ KB

In [168]:
df_4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1502 entries, 0 to 5905
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  1502 non-null   object
 1   unnamed:_0   1502 non-null   int64
 2   year         1502 non-null   float64
 3   type         1502 non-null   object
 4   country      1502 non-null   object
 5   area         1502 non-null   object
 6   location     1502 non-null   object
 7   activity     1502 non-null   object
 8   name         1502 non-null   object
 9   sex_         1502 non-null   object
 10  age          1502 non-null   object
 11  time         1502 non-null   object
 12  species_     1502 non-null   object
 13  href         1502 non-null   object
 14  siglo        1502 non-null   object
dtypes: float64(1), int64(1), object(13)
memory usage: 187.8+ KB

In [169]:
columnas_ad = {col:col.lower().replace(" ","_") for col in df_ad.columns}
df_ad.rename(columns = columnas_ad, inplace=True)
df_ad.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6288 entries, 0 to 6287
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  6287 non-null   object
 1   fatal_(y/n)  5751 non-null   object
 2   injury       6258 non-null   object
 3   date         6286 non-null   object
dtypes: object(4)
memory usage: 245.6+ KB

In [170]:
df_ad["date"].unique()

array(['25-Jun-2018', '18-Jun-2018', '09-Jun-2018', ..., '1883-1889',
       '1845-1853', nan], dtype=object)

3. En este momento nos habremos dado cuenta que el DataFrame que generamos en el pair programming Pandas IV es similar al DataFrame de los datos historicos. Si recordamos, eliminamos algunas columnas en la sesión III que no eran útiles, pero esas columnas están todavía en el histórico. Si no fuera por eso podríamos unir esos dataframes. Realizad los cambios que creais necesarios para que los dataframes sean iguales y luego juntadlos usando el mejor método.

In [171]:
df_4.columns

Index(['case_number', 'unnamed:_0', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href', 'siglo'],
      dtype='object')

In [172]:
df_his.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order', 'unnamed:_22',
       'unnamed:_23'],
      dtype='object')

In [173]:
lista=[]
for i in df_his.columns:
    #print(i)
    if i not in df_4.columns:
       #  print(i)
        lista.append(i)
print(lista)

['investigator_or_source', 'pdf', 'href_formula', 'case_number.1', 'case_number.2', 'original_order', 'unnamed:_22', 'unnamed:_23']

In [174]:
df_his.shape

(170, 21)

In [175]:
df_4.shape

(1502, 15)

In [176]:
df_his2 = df_his.drop(lista, axis=1)
df_his2.columns
df_his2.shape

(170, 13)

In [177]:
df_his2.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex_', 'age', 'time', 'species_', 'href'],
      dtype='object')

In [178]:
df_4.shape

(1502, 15)

In [179]:
df_4.columns

Index(['case_number', 'unnamed:_0', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href', 'siglo'],
      dtype='object')

In [180]:
lista2=[]
for i in df_4.columns:
    #print(i)
    if i not in df_his2.columns:
       #  print(i)
        lista2.append(i)
print(lista2)

['unnamed:_0', 'siglo']

In [181]:
#Creamos un DF con las columnas siglo y unnamed:0 eliminadas
df_5 = df_4.drop(lista2, axis=1)
df_5.shape

(1502, 13)

In [182]:
df_his2.shape

(170, 13)

In [183]:
df_his2.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

In [184]:
df_5.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
6,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...

Hemos eliminado del archivo histórico las columnas ausentes en el archivo de pandas 4.

4. Es el momento de unir la información de todos los ataques de tiburón que acabamos de crear con el DataFrame de información adicional. Debatid que método es el más correcto para unir toda esta información y ejecutadlo.

📌 NOTA Cuando hagáis la unión considerad que la información que más nos interesa es la del DataFrame que creamos en el apartado anterior, lo cual determinará el tipo de unión.

- Decidimos concatenar el histórico y el pandas 4 ya que tenemos las mismas columnas

In [185]:
# concatenar

df_concat = pd.concat([df_5,df_his2], axis=0)

In [186]:
df_his2.tail(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
6300,ND.0002,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6301,ND.0001,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

In [187]:
df_concat.tail(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
6300,ND.0002,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6301,ND.0001,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

- Decidimos mergear left el archivo concatenado y el pandas 4 ya que comparte una columna

In [188]:
df_ad.head(2)

,case_number,fatal_(y/n),injury,date
0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.18,N,Minor injury to left thigh,18-Jun-2018

In [189]:
df_merge = df_concat.merge(df_ad, how= "left", on="case_number")
df_merge.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex_', 'age', 'time', 'species_', 'href',
       'fatal_(y/n)', 'injury', 'date'],
      dtype='object')

In [190]:
df_merge.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,03-Jun-2018

In [191]:
df_merge.isnull().sum()

case_number      0
year             0
type             0
country         10
area            46
location        51
activity        31
name             9
sex_            14
age            154
time           160
species_       126
href             0
fatal_(y/n)     87
injury           8
date             0
dtype: int64

5. Guardad el dataframe nuevo en un csv que usaremos mañana en la clase de pair programming

In [192]:
df_merge.to_csv("5.pandas_mergeado.csv")