## Pair Programming Pandas VI

Es el momento de poner en práctica los groupby de pandas. Para esto vamos a trabajar con el csv creado en el ejercicio de pair programming anterior.
El objetivo de este ejercicio es agrupar los datos para contestar las siguientes preguntas:

In [256]:
import pandas as pd
import numpy as np
import os
import datetime

In [257]:
df= pd.read_csv("5.pandas_mergeado.csv", index_col=0)
df.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,03-Jun-2018

1. ¿Cuántos ataques hubo por país? Devuelve un DataFrame.

📌 NOTA Ordena los resultados de mayor a menor. Esto todavía no lo hemos visto, pero un DataFrame lo podemos ordenar con .sort_values(). Aquí tenéis una explicación de cómo hacerlo.

In [258]:
df.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex_', 'age', 'time', 'species_', 'href',
       'fatal_(y/n)', 'injury', 'date'],
      dtype='object')

In [259]:
df_ataques = df.groupby("country")["case_number"].count().sort_values(ascending=False)

In [260]:
df_ataques= pd.DataFrame(df_ataques)

In [261]:
df_ataques.reset_index()
df_ataques.head(2)

           case_number
country
USA                741
AUSTRALIA          343

In [262]:
type(df_ataques)

pandas.core.frame.DataFrame

2. ¿Cuántos ataques ha habido por año? Devuelve un DataFrame. De nuevo ordena los resultados de mayor a menor.

In [263]:
df_años= df.groupby("year")["case_number"].count().sort_values(ascending=False)

In [264]:
type(df_años)

pandas.core.series.Series

In [265]:
df_años.reset_index()

       year  case_number
0       0.0          125
1    2015.0           68
2    2007.0           57
3    2012.0           54
4    2002.0           53
..      ...          ...
142  1784.0            1
143  1783.0            1
144  1787.0            1
145  1779.0            1
146  1780.0            1

[147 rows x 2 columns]

3. ¿Cuántos ataques hubo por año y sexo? Devolved un DataFrame solo del año 2000 en adelante.

In [266]:
df_2000= df[df["year"] > 2000]

In [267]:
df_2000.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,03-Jun-2018

In [268]:
df_2000.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex_', 'age', 'time', 'species_', 'href',
       'fatal_(y/n)', 'injury', 'date'],
      dtype='object')

In [269]:
df_año_sexo= df_2000.groupby(["sex_","year"])["case_number"].count().sort_values(ascending=False)

In [270]:
df_año_sexo= df_año_sexo.reset_index()
df_año_sexo.head(2)

  sex_    year  case_number
0    M  2015.0           56
1    M  2002.0           47

4. Primero extraed solo las filas que correspondan a USA, AUSTRALIA y SOUTH AFRICA. ¿Cuántos de los ataques fueron letales por sexo? Devuelve un DataFrame.

Primero extraed solo las filas que correspondan a USA, AUSTRALIA y SOUTH AFRICA.

In [271]:
df_paises = df[(((df['country'] == 'AUSTRALIA') | (df['country'] == 'USA') | (df['country'] == 'SOUTH AFRICA')))]
df_paises.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,N,Lower left leg bitten,26-May-2018

In [272]:
df_paises_fatal = df[(((df['country'] == 'AUSTRALIA') | (df['country'] == 'USA') | (df['country'] == 'SOUTH AFRICA')) & (df['fatal_(y/n)'] == 'Y'))]
df_paises.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,N,Lower left leg bitten,26-May-2018

In [273]:
df_paises_fatal['fatal_(y/n)'].value_counts()

Y    192
Name: fatal_(y/n), dtype: int64

4.1 ¿Cuántos de los ataques fueron letales por sexo? Devuelve un DataFrame.

In [274]:
df_sexo_fatal = df_paises_fatal.groupby("sex_")['fatal_(y/n)'].value_counts()

In [275]:
df_sexo_fatal

sex_  fatal_(y/n)
F     Y               20
M     Y              172
Name: fatal_(y/n), dtype: int64

In [276]:
df_sexo_fatal= pd.DataFrame(df_sexo_fatal)
df_sexo_fatal

                  fatal_(y/n)
sex_ fatal_(y/n)
F    Y                     20
M    Y                    172

In [277]:
df_sexo_fatal.rename(columns={"fatal_(y/n)":"numero_de_ataques"}, inplace= True)

In [278]:
df_sexo_fatal.reset_index(inplace=True)

In [279]:
df_sexo_fatal

  sex_ fatal_(y/n)  numero_de_ataques
0    F           Y                 20
1    M           Y                172

5. Usando el DataFrame creado en el ejercicio anterior. ¿En qué país hubo más ataques?

In [280]:
# Identificamos el valor máximo
df_paises.groupby("country")['case_number'].count().max()

741

In [281]:
# Creamos un DataFrame con el conteo de ataques agrupado por país
df_maximo = df_paises.groupby("country")['case_number'].count().reset_index()
df_maximo

        country  case_number
0     AUSTRALIA          343
1  SOUTH AFRICA          234
2           USA          741

In [282]:
df_maximo.columns

Index(['country', 'case_number'], dtype='object')

In [283]:
# renombramos las columnas
df_maximo.rename(columns={'index':"país", 'country': "ataques"}, inplace=True)

In [284]:
# Identificamos el país donde se cumple la condición
df_maximo.loc[df_maximo.case_number == df_paises.groupby("country")['case_number'].count().max()]

  ataques  case_number
2     USA          741

6. ¿Qué y cuántos tipos de ataques hubo por país?

In [285]:
df_paises.groupby(["country","type"])['case_number'].count()

country       type
AUSTRALIA     Boat              1
              Boating           4
              Invalid          18
              Provoked         27
              Sea Disaster      3
              Unprovoked      290
SOUTH AFRICA  Invalid          10
              Provoked         14
              Unprovoked      210
USA           Boating          11
              Invalid          48
              Provoked         49
              Sea Disaster      1
              Unprovoked      632
Name: case_number, dtype: int64

In [286]:
df_pais_tipo = df_paises.groupby(["country","type"])['case_number'].count().reset_index()
df_pais_tipo

         country          type  case_number
0      AUSTRALIA          Boat            1
1      AUSTRALIA       Boating            4
2      AUSTRALIA       Invalid           18
3      AUSTRALIA      Provoked           27
4      AUSTRALIA  Sea Disaster            3
5      AUSTRALIA    Unprovoked          290
6   SOUTH AFRICA       Invalid           10
7   SOUTH AFRICA      Provoked           14
8   SOUTH AFRICA    Unprovoked          210
9            USA       Boating           11
10           USA       Invalid           48
11           USA      Provoked           49
12           USA  Sea Disaster            1
13           USA    Unprovoked          632