# Pair Programming Pandas VII

In [4]:

import numpy as np 
import pandas as pd
import re

In [5]:
df_ataques = pd.read_csv("5.pandas_mergeado.csv", index_col=0)
df_ataques.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,03-Jun-2018

1. Cread una columna nueva y una funciÃ³n que nos de el mes en el que ocurriÃ³ el ataque. Tened en cuenta que no todas las filas tienen la misma estructura y que puede que no haya la informaciÃ³n de mes. En ese caso devolved un nulo (NaN).
ðŸ’¡ Pista ðŸ’¡PodÃ©is usar regex.

In [6]:
df_ataques['date'].unique

<bound method Series.unique of 0       25-Jun-2018
1       03-Jun-2018
2       26-May-2018
3       24-May-2018
4       13-May-2018
           ...
1667    Before 1903
1668    Before 1903
1669      1900-1905
1670      1883-1889
1671      1845-1853
Name: date, Length: 1672, dtype: object>

In [7]:
fecha = '03-Jun-2018'

In [8]:
mes = re.findall('[A-Z]\w+', fecha)
print(format(mes))

['Jun']

In [9]:
def sacar_mes(col):
    try:
        mes = re.findall('[A-Z]\w+', col)
        mes = ''.join(mes)
        return mes
    except:
        return col

In [10]:
df_ataques['mes'] = (df_ataques['date'].apply(sacar_mes))

In [11]:
df_ataques.head(5)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date,mes
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,03-Jun-2018,Jun
2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,N,Lower left leg bitten,26-May-2018,May
3,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018,May
4,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,N,Injured by teeth of a dead porbeagle shark he ...,13-May-2018,May

2. Vamos con la columna fatal_(y/n). Lo primero que tenÃ©is que hacer es evaluar los valores Ãºnicos que hay. EsperarÃ­amos tener solo dos valores: y y n, pero tristemente no serÃ¡ asÃ­ 
ðŸ˜­. Cread una columna nueva y una funciÃ³n que devuelva Ãºnicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.

In [12]:
df_ataques['fatal_(y/n)'].unique()

array(['N', 'Y', nan, 'M', '2017', ' N', 'UNKNOWN'], dtype=object)

In [13]:
def convertir(col):
    if col == 'M':
        return np.nan
    elif col == '2017':
        return np.nan
    elif col == ' N':
        return 'N'.lower()
    elif col == 'UNKNOWN':
        return np.nan
    elif col == 'N':
        return col.lower()
    elif col == 'Y':
        return col.lower()
    else:
        return np.nan

In [14]:
df_ataques['fatal'] = (df_ataques['fatal_(y/n)'].apply(convertir))

In [15]:
df_ataques.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date,mes,fatal
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun,n
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,03-Jun-2018,Jun,y

In [16]:
df_ataques['fatal'].unique()

array(['n', 'y', nan], dtype=object)

3. Seguid la misma lÃ³gica que en el ejercicio anterior pero con la columna sex. Pero en este caso vamos a incluir un retito mÃ¡s: En este caso querremos tener dos valores Ãºnicos F y M. De nuevo en la columna hay otros carÃ¡cteres raros como 'M ', 'lli', 'N', '.'. En esos casos, queremos que se reemplacen por M o F de forma aleatoria (tendrÃ©is que usar la librerÃ­a random). En caso de que sea nulo, que la funciÃ³n devuelva nulo (np.nan).

In [17]:
df_ataques['sex_'].unique()

array(['F', 'M', 'lli', nan], dtype=object)

In [18]:
import string,random

In [19]:
def cambiar_sex(col):
    if col == 'M':
        return col
    elif col == 'F':
        return col
    elif col == 'lli':
        return random.choice('MF')
    else: 
        return np.nan

In [20]:
df_ataques['sexo'] = (df_ataques['sex_'].apply(cambiar_sex))
df_ataques['sexo'].unique()

array(['F', 'M', nan], dtype=object)

4. Una vez que hayÃ¡is terminado eliminad las columnas originales conservando las nuevas.

In [22]:
df_limpio = df_ataques.drop(['sex_', 'fatal_(y/n)'], axis=1)
df_limpio.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'age', 'time', 'species_', 'href', 'injury', 'date',
       'mes', 'fatal', 'sexo'],
      dtype='object')

In [23]:
df_limpio.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,species_,href,injury,date,mes,fatal,sexo
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun,n,F
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,FATAL,03-Jun-2018,Jun,y,M

5. Guardad el dataframe en un csv que usaremos mÃ¡s adelante

In [24]:
df_limpio.to_csv("6.pandas_nuevascolumnas.csv")